version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "3305:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: talent_world
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
